---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  table {
    display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
              -ms-overflow-style: -ms-autohiding-scrollbar;
    
    border: 0px solid $table-border-color;
  }
  
  table.smallest {
    font-size: 13px;
  }

  div.next-section {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: 700;
  }

  .svg-icon { width: 1.5em; height: 1.5em; display: inline-block; fill: currentColor; vertical-align: text-bottom; }
  .social-media-list { display: flex; margin: 0 auto; }
