---
---
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

table {
  display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  
  border: 0px solid $table-border-color;
}